<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign In</title>
  </head>
  <body>
    <h1>Sign In</h1>
    <div id="side-design"></div>
    <form action="/auth/sign-in" method="POST">
      <div>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="username"
        />
      </div>
      <br />
      <div>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
        />
      </div>
      <br />
      <div id="submit-boarder"><button type="submit">Sign in</button></div>

      <span id="quiry">
        <p>Don't have account? <a href="./sign-up">creat new account</a></p>
      </span>
    </form>

    <div id="back"><a href="/" style="color: grey">🔙 Home</a></div>
  </body>
</html>
