<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Password</title>
  </head>
  <body id="update-pass">
    <%- include("../partials/header.ejs") %>
    <h2>Update Password</h2>
    <div id="pass-info">
      <form
        action="/auth/<%=user._id%>/update-password?_method=PUT"
        method="POST"
      >
        <input
          type="password"
          name="oldPassword"
          placeholder="Old Password"
          required
        />
        <input
          type="password"
          name="newPassword"
          placeholder="New Password"
          required
        />
        <input
          type="password"
          name="confirmNewPassword"
          placeholder="Confirm New Password"
          required
        />
        <button type="submit">Update</button>
      </form>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
