<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/style.css">
  <title>Lush Life</title>
</head>


<body id="hotels-page">

<%- include("../partials/header.ejs") %>

<div >

<h1>Explore Hotels</h1>

  <ul id="hotels-list">
    <% hotels.forEach((hotel) => { %>
  <li>
    <a href="/hotels/<%= hotel._id %>" class="hotel-link">
      <%= hotel.name %>
    </a>
  </li>
<% }) %>
  </ul>

 <div id="suggest-btn"> <a href="/hotels/new">Suggest A Hotel</a></div>

<%- include("../partials/footer.ejs") %>
</div>
</body>
</html>

