<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotels</title>
  </head>
  <body>
    <h1>Hotels</h1>
    <div class="all_hotels">
      <div id="hotel-1">
        <div id="picture">
          <img
            src="https://i.pinimg.com/736x/46/03/3e/46033e02b4e4fb03d737b0d5f21c55dc.jpg"
            alt="Four seasons Hotel building"
          />
        </div>
        <div id="hotelInfo">
          <h3>Four Seasons Hotel</h3>
          <%=Hotel.name%>
          Stars: ⭐⭐⭐⭐ <br>
          Area : Manama,Bahrain <br>
          Price Per night : 178 BD <br>
          <%=Hotel.reviews%>



        </div>
      </div>
    </div>
  </body>
</html>
