<%- include("../partials/header.ejs") %>
<h2>New Hotel</h2>
<form action="/hotels/new" method="POST">
  <input type="text" name="name" placeholder="Name" required />
  <input type="number" name="stars" placeholder="Stars" required />
  <input type="text" name="area" placeholder="Area" required />
  <input
    type="number"
    name="averagePricePerNight"
    placeholder="Average Price Per Night"
    required
  />
  <input type="text" name="picture" placeholder="Image URL" />
  <input type="hidden" name="author" value="<%=user._id%>" />
  <button type="submit">Create</button>
</form>
<%- include("../partials/footer.ejs") %>
