<%- include("./partials/header.ejs") %>
<h1>LIVE THE LUSH LIFE</h1>
<h3 id="slogan">WHERE EVERY VISIT FEELS LIKE HOME</h3>
<p>Sign in or Sign up to get started.</p>
<%- include("./partials/footer.ejs") %>
