<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>welcome</title>
  </head>
  <body>
    <p>WE KNOW THE BEST</p>
    <h1>WHERE EVERY VISIT FEELS LIKE HOME .</h1>
    <button id="signIn">Sign In</button>
    <button id="signUp">Creat Account</button>
  </body>
</html>
